body {
    text-align: center;
    background-image: linear-gradient(
        to bottom,
        rgba(200, 129, 30, 0.5),
        rgba(0, 255, 51, 0.5)
        )
       
        
    }
    .lvl{
        height: 40px;
        color: brown;
        background-color: black;
       text-decoration-style: wavy;
        }
       
img.signture{
    width: 400px;
    margin-left: auto;
  margin-right: auto;
  border: 100;
  border-radius: 50%;
}
img.heart{
    width: 50px;
    display: block;
  margin-left: 85px;

  border-radius: 20%;
display:none;
}
    
.cell {
    width: 50px;
    height: 50px;
    text-align: center;
}
.cell img {
    width: 48px;
    height: auto;
}

.floor {
    background-color: gray;
}
.mine{
    background-color: gray;

}
.hide{
display: none;
}
.restartgame{
    width: 420px;
    height: 40px;
    background-color: rgb(214, 22, 22);
}

.lives{
    width: 220px;
color: black;
background-color: red;

}


